Django>=5.0,<6.1
django-jazzmin>=3.0,<4.0
djangorestframework>=3.15,<4.0
djangorestframework-simplejwt>=5.3,<6.0
django-filter>=24.0
django-cors-headers>=4.3
psycopg2-binary>=2.9
python-dotenv>=1.0
dj-database-url>=2.1
python-decouple>=3.8
Pillow>=10.0
channels>=4.0,<5.0
daphne>=4.0,<5.0
whitenoise>=6.6
gunicorn>=22.0
django-storages>=1.14
cloudinary>=1.36
django-cloudinary-storage>=0.3
